*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: var(--Very-Light-blue, #ECF2FF);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  transition: 1s;
}
